#calc {
    display: grid;
    grid-template-areas:
        'histDisp histDisp histDisp histDisp'
        'mainDisp mainDisp mainDisp mainDisp'
        'ac ac divide multiply'
        'seven eight nine minus'
        'four five six add'
        'one two three equal'
        'zero zero decimal back'
    ;
    row-gap: 5px;
    column-gap: 5px;
    background: transparent;
    height: min-content;
    width: min-content;
}