#ac {
    background: #C42847;
}

.num {
    background: #6CD4FF;
}

#decimal {
    background: #E28413;
}

.op {
    background: #EFCA08;
}

#equal {
    background: #2DD881;
}

#back {
    background: #a17944;
}